@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/instrumentsans-regular-subset-webfont.woff2") format("woff2");
  font-family: "Instrument";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("/fonts/instrumentsans-semibold-subset-webfont.woff2") format("woff2");
  font-family: "Instrument";
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url("/fonts/instrumentsans-bold-subset-webfont.woff2") format("woff2");
  font-family: "Instrument";
  font-weight: 700;
  font-display: swap;
}

html {
  @apply min-h-full;
}

body {
  @apply min-h-full bg-siteBg font-Instrument;
}

p {
  @apply text-base text-mediumGrey;
}
h1 {
  @apply text-[32px];
}
h2 {
  @apply text-[26px];
}
h1,
h2 {
  @apply font-bold leading-[48px] text-darkGray;
}
